.prose {
  max-width: 50rem;
}

.prose code:not(:where([data-code-type='code-block'])) {
  @apply rounded-md border px-1 py-1 dark:border-gray-600;
}

.prose a {
  text-decoration: none;
}

.prose > ol > li > :last-child,
.prose > ul > li > :last-child {
  margin-bottom: 0;
}
.prose > ol > li > :first-child,
.prose > ul > li > :first-child {
  margin-top: 0;
}

.prose blockquote p:first-of-type::before,
.prose blockquote p:last-of-type::after {
  content: '';
}

.prose blockquote {
  border-style: solid;
  /* border-width: 0 0 0 0.25rem; */
  /* border-image: linear-gradient(to top, rgb(76, 29, 149), rgb(124, 58, 237), rgb(91, 33, 182)) 1; */
}

.prose hr {
  border-style: solid;
  border-width: 0 0 1px 0;
  border-image: linear-gradient(
      to right,
      rgb(76, 29, 149),
      rgb(124, 58, 237),
      rgb(167, 139, 250)
    )
    1;
}

.mdx.prose :where(h1, h2, h3, h4) {
  scroll-margin-top: 100px;
  position: relative;
  display: block;
  margin-right: 0.5rem;
  width: -moz-fit-content;
  width: fit-content;
  @apply mt-4 mb-2 md:mt-8 md:mb-4;
}

.prose p {
  @apply my-4;
}

.prose > :first-child {
  /* Override removing top margin, causing layout shift */
  margin-top: 1.25em !important;
  margin-bottom: 1.25em !important;
}

.mdx.prose :where(h1, h2, h3, h4) > a {
  border-bottom: none;
}

/* Custom Heading Style for Projects */
.mdx.prose.projects blockquote {
  font-style: normal;
}
.mdx.prose.projects blockquote:first-of-type h2 {
  margin-top: 1rem;
}
.mdx.prose.projects blockquote.with-icons h2 {
  margin-bottom: 0;
}

/* Custom Heading Style for Projects */
.mdx.prose.projects blockquote {
  font-style: normal;
}
.mdx.prose.projects blockquote:first-of-type h2 {
  margin-top: 1rem;
}
.mdx.prose.projects blockquote.with-icons h2 {
  margin-bottom: 0;
}

/** HASH ANCHOR */
.hash-anchor {
  @apply inset-y-0 w-full;
  position: absolute;
  background-image: none;
  transition: none;
}

.hash-anchor:hover:after,
.hash-anchor:focus:after {
  visibility: visible;
}

.hash-anchor:after {
  @apply invisible absolute -right-5 top-1/2 -translate-y-1/2 text-lg text-primary-400 dark:text-primary-300;
  content: '#';
}
